    <main id="main">
      <div>
       <style>
         body {
          background-image: url('/images/steelplate.jpg');
   }
       </style>
       <h1 style="color:white;"id="title">Not found</h1>
       <p style="color:white;">Sorry the spirits and tech say! This page doesn't exist. Try going back to our <a href="/">home page</a>.</p>

       <p style="text-align:center;"><img src="/images/404.png" alt="Page doesn't exist" width="800"
										     height="400"></p>
      </div>
    </main>
